<div class="row justify-content-center mb-3">
    {%
        set imageUrl = (user.image is null)
        ? 'images/login/user-anonymous.png'
        : 'uploads/' ~ user.email ~ '/' ~ user.image
    %}

    <img src="{{ asset(imageUrl) }}" class="rounded-circle" width="100px"/>
</div>
<ul class="list-group">
    <li class="list-group-item"><b>First Name:</b> {{ user.firstname }} </li>
    <li class="list-group-item"><b>Last Name:</b> {{ user.lastname }} </li>
    <li class="list-group-item"><b>Birthday:</b>
        {{ (user.birthday is not null) ? user.birthday|date("d.m.Y") : '' }}
    </li>
</ul>
