
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/.env
/vendor/
/node_modules/
###< symfony/framework-bundle ###



###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> build ###
/public/build/
###< build ###

###> idea ###
.idea/
###< idea ###

###> php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< php-cs-fixer ###

/*.log