<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('bootstrap') }}
        {{ encore_entry_link_tags('app_style') }}

        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        <div class="container-fluid">
            {% block body %}{% endblock %}

            {{ encore_entry_script_tags('app') }}

            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
